/*////////////////
// Code Screen //
///////////////*/

.codeScreen {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.codeForm p:first-of-type{
  font-size: 14px;
  font-family: roundedmplus1c-bold;
  font-weight: bold;
  color: #5F6772;
}
.codeForm p:last-of-type{
  font-size: 14px;
  font-family: roundedmplus1c-bold;
  color: #f8726d;
  opacity: 0;
}
.codeForm input{
  font-family: roundedmplus1c-bold;
  outline: none;
  width: 46px;
  border: 1px solid #F0F1F4;
  border-radius: 8px;
  padding: 12px 60px 12px 60px;
  box-shadow: 0 2px 4px 0 rgba(156, 154, 154, 0.5);
  background-color: #F0F1F4;
  color: #686868;
}
.codeForm input:focus{
  border: 1px solid #f8726d;
  box-shadow: 0 2px 4px 0 rgba(248, 114, 109, 0.5);
}

.codeForm button{
  display: inline-block;
  cursor: pointer;

  border: none;
  border-radius: 8px;
  padding: 12px 20px 12px 20px;
  box-shadow: 0 2px 4px 0 rgba(156, 154, 154, 0.5);
  background-color: #f8726d;

  font-family: roundedmplus1c-bold;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f5f3f3;
}

.codeForm button:hover{
  background-color: #f8807b;
}

.codeForm button:active{
  padding-top: 10px;
  padding-bottom: 14px;
}

/*Error State*/
.codeForm input.errorState{
  border: 1px solid #f8726d;
  box-shadow: 0 2px 4px 0 #f8726d;
}

.codeForm p.errorState:last-of-type{
  opacity: 1;
}

/*///////////////////////
// MATCHING-TEST PAGE //
//////////////////////*/

.logo-full{
  margin: 0;
  padding: 0;
  width:50%;
}

.logo-typography{
  margin-top:10px;
  margin-left:10px;
  width:130px;
}
.flamigo-budge{
  margin-right: 32px;
}
.flamigo-budge.flipped{
  margin-left: 32px;
  margin-right: 0;

  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

/*//////////////////
// Progress bar //
/////////////////*/

.progress{
  width: 80vw;
}

.progress .meter {
  height: 3px;
  width: 100%;
  position: relative;
  background: #979797;
}

.bar{
  display: block;
  height: 100%;
  background-color: #f8726d;
  position: relative;
  overflow: hidden;
}

.bar.right{
  position:absolute;
  right:0;
  top:0;
}

.progress-pointer {
  background-color: #f8726d;
  text-align: left;
  position:absolute;
  margin-top:-25px;
  z-index: 1;
  /*the rotate value sets the angle*/
  transform: rotate(-360deg) skewX(-30deg) scale(1,.866);
}

.progress-pointer:before,
.progress-pointer:after {
  content: '';
  position: absolute;
  background-color: inherit;
}

.progress-pointer,
.progress-pointer:before,
.progress-pointer:after {
  width:  .5em;
  height: .5em;
  border-top-right-radius: 30%;
}

.progress-pointer:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}

.progress-pointer:after {
  transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

/*/////////
// Q&As //
////////*/

.question{
  font-family: roundedmplus1c-bold;
  font-weight: bold;
  color:#686868;
}

h4.question{
  max-width: 60vw;
}

.reply{
  margin-bottom: 32px;
}

input[name="replies"]{
  display: none;
}

.reply-btn{
  display: block;
  min-width: 14px;
  min-height: 14px;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  border: 2px solid #8bd7b2;
  background-color: #8bd7b2;
}

.inner-circle{
  display:none;
  position:absolute;

  min-width:4px;
  min-height:4px;
  top:7px;
  left:7px;
  border-radius: 100%;
  background:#f8726d;
}

.reply-content{
  font-family: roundedmplus1c-medium;
  color: #686868;
  margin-left: 16px;
}

.reply:hover > label > .reply-content{
  font-weight: 900;
}

.reply.selected > label > .reply-bubble > .reply-btn{
  background-color: #F9F9F9;
}
.reply.selected > label > .reply-bubble > .inner-circle{
  display: block;
}

.reply.selected > label > .reply-content{
  color: #7bbd9d;
  font-weight: bold;
}

.movement-btn{
  position: fixed;
  bottom: 20px;

  text-align: center;
  width: 100px;
  height: 20px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(156, 154, 154, 0.5);
  background-color: #f8726d;
  padding: 12px 20px;

  font-family: roundedmplus1c-bold;
  color: #F9F9F9;

  user-select: none;
  cursor: pointer;
}

.movement-btn.prev{
  left: 20px;
  bottom: 20px;
}

.movement-btn.next{
  right: 20px;
  bottom: 20px;
}

.movement-btn:hover{
  background-color: #f8807b;
}

.movement-btn:active{
  padding-top: 10px;
  padding-bottom: 14px;
}

/*///////////////////////
// PERSONALITY RESULT //
//////////////////////*/

.pers-result{
  display:flex;
  display:-moz-flex;
  display:-webkit-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
}

.pers-descr{
  text-align: justify;
  width:40%;
  margin-left:60px;
  line-height: 180%;
  font-weight:bold;
}

.pers-descr > .text{
  white-space: pre-line;
}

/*//////////////
// RESET BTN //
/////////////*/

.reset-btn{
  width: 30px;
  cursor: pointer;

  border: none;
  border-radius: 8px;
  padding: 12px 20px 12px 20px;
  box-shadow: 0 2px 4px 0 rgba(156, 154, 154, 0.5);
  background-color: #f8726d;

  font-family: roundedmplus1c-bold;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f5f3f3;
}

.reset-btn:hover{
  background-color: #f8807b;
}

.reset-btn:active{
  padding-top: 10px;
  padding-bottom: 14px;
}

.translation-btn{
  position: absolute;
  top: 10px;
  right: 10px;
}

.translation-btn > i {
  font-size: 24px;
  color: #686868;
  cursor: pointer;
}

.translation-btn > .popUp{
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 30px;
  color: #686868;
  font-family: roundedmplus1c-regular;
  padding: 12px;
  border: 1px solid #686868;
  display: none;
}

.translation-btn > .popUp.show{
  display: block;
}

.translation-btn > .popUp > div:first-of-type{
  border-bottom: 1px solid #686868;
  padding-bottom: 6px;
  padding-top: 0;
}
.translation-btn > .popUp > div{
  padding-top: 6px;
  cursor: pointer;
}
.translation-btn > .popUp > div:hover{
  color:#f8726d;
}

/*///////////////
// RESPONSIVE //
//////////////*/

@media only screen and (max-width: 600px) {
  .pers-result{
    flex-direction: column !important;
    -moz-flex-direction: column !important;
    -webkit-flex-direction: column !important;
    align-items:center !important;
    -moz-align-items:center !important;
    -webkit-align-items:center !important;
  }
  .pers-descr{
    margin-left: 0;
    width:80%;
  }
  .flamigo-budge{
    margin-right: 0;
    width: 50px !important;
  }
  .flamigo-budge.flipped{
    margin-left: 0;
  }
  h4.question{
    max-width: 100vw;
  }
}

/*////////////
// GENERIC //
///////////*/

/deep/ html {
  scroll-behavior: smooth;
}

/deep/ body{
  margin: 0 !important;
  padding: 0 !important;
  background-color: #F9F9F9;
}

.flex-row{
  display:flex;
  display:-moz-flex;
  display:-webkit-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
}

.flex-column{
  display:flex;
  display:-moz-flex;
  display:-webkit-flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
}

.centerY{
  height:100%;
  display:flex;
  display:-moz-flex;
  display:-webkit-flex;
  flex-direction:column;
  -moz-flex-direction:column;
  -webkit-flex-direction:column;
  justify-content:center;
  -moz-justify-content:center;
  -webkit-justify-content:center;
}

.centerX{
  width: 100%;
  display: flex;
  display:-moz-flex;
  display:-webkit-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  justify-content:center;
  -moz-justify-content: center;
  -webkit-justify-content:center;
  align-items:center;
  -moz-align-items:center;
  -webkit-align-items:center;
}

.justify-content-center{
  justify-content:center;
  -moz-justify-content: center;
  -webkit-justify-content:center;
}

.align-items-flex-start{
  align-items:flex-start;
  -moz-align-items:flex-start;
  -webkit-align-items:flex-start;
}
.align-items-flex-end{
  align-items:flex-end;
  -moz-align-items:flex-end;
  -webkit-align-items:flex-end;
}
.align-items-center{
  align-items:center;
  -moz-align-items:center;
  -webkit-align-items:center;
}
