<div class="codeScreen" *ngIf="codeScreen">
  <div style="text-align:center">
    <div style="display:inline-block">
      <img class="logo-full" src="./assets/img/logo-full.svg">
      <br><br><br>
      <div class="codeForm">
        <p>Insert Provided Code</p>
        <input [class.errorState]="codeError" maxlength="6" type="text" [formControl]="theCode">
        <p [class.errorState]="codeError">code not found</p>
        <button type="button" name="button" (click)="inputted()">Submit</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="matchingTestScreen">
  <img class="logo-typography" src="./assets/img/logo-typography.svg">
  <br><br><br>
  <div style="" *ngIf="!endTest">
    <div class="centerX">
      <div class="flex-row align-items-flex-end" style="width:80vw;">
        <img class="flamigo-budge" src="./assets/img/logo-budge.svg" style="width:70px">
        <div class="progress">
          <div class="meter">
            <span class="bar left" [style.width.%]="progress"></span>
            <div class="progress-pointer left" [style.left.%]="progress" style="margin-left:-3px"></div>
            <span class="bar right" [style.width.%]="progress"></span>
            <div class="progress-pointer" [style.right.%]="progress" style="margin-right:-5px"></div>
          </div>
        </div>
        <img class="flamigo-budge flipped" src="./assets/img/logo-budge.svg" style="width:70px">
      </div>
    </div>
    <div class="centerX">
      <div style="width:80vw;">
        <div style="text-align:center">
          <div style="display:inline-block">
            <div style="width:100%;">
              <br><br>
              <div style="text-align:center">
                <div style="display:inline-block">
                  <h4 class="question">{{ questions[questionIndex].question }}</h4>
                </div>
              </div>
              <h4 class="question" *ngIf="questions[questionIndex].type==='enum'" style="font-weight:normal; color:#f8807b">{{ questions[questionIndex].subtitle }}</h4>
              <br>
              <div *ngIf="questions[questionIndex].type==='regular'" style="text-align:left">
                <p *ngFor="let r of questions[questionIndex].replies" class="reply" [class.selected]="results[questionIndex].key===r.key" (click)="replyClicked(r.key, r.points)">
                  <label class="flex-row align-items-center" style="cursor: pointer">
                    <input name="replies" type="radio">
                    <span class="reply-bubble" style="position:relative">
                      <span class="reply-btn"></span>
                      <span class="inner-circle"></span>
                    </span>
                    <span class="reply-content">{{ r.content }}</span>
                  </label>
                </p>
              </div>
              <div *ngIf="questions[questionIndex].type==='picture'" style="text-align:center">
                <div style="text-align:center">
                  <div style="display:inline-block">
                    <div>
                      <span *ngFor="let r of questions[questionIndex].replies" class="reply" [class.selected]="results[questionIndex].key===r.key" (click)="replyClicked(r.key, r.points)" style="display:inline-block; width:250px">
                        <label class="flex-column justify-content-center align-items-center" style="cursor:pointer">
                          <img [src]="r.img" alt="" width="200">
                          <br>
                          <input name="replies" type="radio">
                          <span class="reply-bubble" style="position:relative">
                            <span class="reply-btn"></span>
                            <span class="inner-circle"></span>
                          </span>
                          <span class="reply-content" style="margin-top:16px; margin-left:0; word-wrap:break-word;">{{ r.content }}</span>
                        </label>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="questions[questionIndex].type==='enum'" style="text-align:center">
                <div style="text-align:center">
                  <div style="display:inline-block">
                    <div>
                      <span *ngFor="let r of questions[questionIndex].replies" class="reply" [class.selected]="results[questionIndex].key===r.key" (click)="replyClicked(r.key, r.points)" style="display:inline-block; width:40px">
                        <label class="flex-column justify-content-center align-items-center" style="cursor:pointer">
                          <span class="reply-content" style="margin-top:16px; margin-left:0; word-wrap:break-word;">{{ r.key }}</span>
                          <br>
                          <input name="replies" type="radio">
                          <span class="reply-bubble" style="position:relative">
                            <span class="reply-btn"></span>
                            <span class="inner-circle"></span>
                          </span>
                          <span class="reply-content" style="margin-top:16px; margin-left:0; word-wrap:break-word;">{{ r.content }}</span>
                        </label>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br>
    <span *ngIf="questionIndex!=0" class="movement-btn prev" (click)="pressPrev()">
      {{ btns.previous }}
    </span>
    <span *ngIf="results[questionIndex].key">
      <span *ngIf="questionIndex!==questions.length-1" class="movement-btn next" (click)="pressNext()">
        {{ btns.next }}
      </span>
      <span *ngIf="questionIndex===questions.length-1" class="movement-btn next" (click)="pressEnd()">
        {{ btns.end }}
      </span>
    </span>
  </div>
  <div *ngIf="endTest">
    <div style="text-align:center">
      <div style="display:inline-block; color:#686868; font-size: 20px; font-family:roundedmplus1c-medium">
        <h3 style="color:#7bbd9d">{{ personalities[persArr].title }}</h3>
        <br>
        <div class="pers-result flex-row justify-content-center align-items-flex-start">
          <span class="flex-column align-items-center">
            <img [src]="personalities[persArr].img" [alt]="personalities[persArr].title" width="165">
            <!--p style="font-size:14px; border-bottom:2px solid #f8726d; color:#f8726d;">Δες όλες τις προσωπικότητες</p-->
            <br><br>
          </span>
          <span class="pers-descr">
            <span class="text">{{ personalities[persArr].descr }}</span>
          </span>
        </div>
        <br><br><br>
        <span class="reset-btn" (click)="reset()">Reset</span>
        <br><br><br>
      </div>
    </div>
  </div>
</div>
<div class="translation-btn">
  <div class="popUp" [class.show]="openTranslation">
    <div (click)="changeLang('gr')">Ελληνικά</div>
    <div (click)="changeLang('en')">English</div>
  </div>
  <i class="fa fa-globe" (click)="translationBtn()"></i>
</div>
