/* You can add global styles to this file, and also import other style files */

/*///////////////
// FONT-FACES //
//////////////*/
@font-face {
  font-family: lato-regular;
	src: url(assets/fonts/lato/Lato-Regular.ttf) format("opentype");
}

@font-face{
  font-family: roundedmplus1c-regular;
  src: url(assets/fonts/roundedmplus1c/RoundedMplus1c-Regular.ttf) format("opentype");
}

@font-face{
  font-family: roundedmplus1c-medium;
  src: url(assets/fonts/roundedmplus1c/RoundedMplus1c-Medium.ttf) format("opentype");
}

@font-face{
  font-family: roundedmplus1c-bold;
  src: url(assets/fonts/roundedmplus1c/RoundedMplus1c-Bold.ttf) format("opentype");
}

@font-face{
  font-family: roundedmplus1c-extra-bold;
  src: url(assets/fonts/roundedmplus1c/RoundedMplus1c-ExtraBold.ttf) format("opentype");
}
